.updates-section {
  padding: 20px;
  background-color: #f5f5f5;
}

.updates-section h2 {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 400;
}
.update-image {
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.updates-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* State when the card is in the viewport */
.slide-in {
  transform: translateX(0);
  opacity: 1;
}
.update-content {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.slide-in2 {
  transform: translateX(0);
  opacity: 1;
}
.update-card {
  width: 25%;
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
}

.update-image {
  width: 100%;
  height: auto;
  display: block;
}

.update-category {
  display: block;
  color: black;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 0.9em;
}

.update-card h3 {
  color: #0685ff;
  font-size: 1.1em;
  padding: 0 15px;
}

.update-card p {
  font-size: 0.9em;
  color: #666;
  padding: 0 15px 15px;
}
@media screen and (min-width: 2000px) {
  .update-card {
    width: 20%;
  }
}
