.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 4fr 1fr; /* Adjust the fr units based on your desired column widths */

  border: 1px solid black;
}

.grid-header,
.grid-item {
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid black;
}

.grid-header {
  background-color: #ccc6c6;
  font-weight: bold;
}

.grid-item {
  background-color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
}
.delete-btn {
  background-color: red;
  color: white;
  padding: 6px 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}
.btn {
  margin-top: 3px;
  padding: 3px 4px 3px 7px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.edit-btn {
  background-color: blue;
}

.edit-btn:hover {
  background-color: darkblue;
}
.confirm-btn {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 7px;
  margin: -10px -7px -10px -10px;

  font-size: 16px;
  background-color: rgb(0, 255, 30);
}

.confirm-btn {
  background-color: rgb(0, 139, 25);
}
